<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>
    Search your book:
</h2>
<form action="/book/results_read/" method="GET">
    <input type="text" name="data">
    <input type="submit" value="Search">
</form><!--
<h2>
    Delete a book:<br>
    *Note: The name of the book must be exact
</h2>
<form action="/book/delete_book/" method="GET">
    <input type="text" name="name">
    <input type="submit" value="Delete">
</form>
<h2>
    Modify a book:<br>
    *Note: The name of the book must be exact
</h2>
<form action="/book/update_book/" method="GET">
    <input type="text" name="score">
    <input type="text" name="modifiedScore">
    <input type="submit" value="Modify">
</form>-->
</body>
</html>